temis_db.drawio
temisnet/.vscode/
temisteste/node_modules/
temisnet/temis.api/bin/
temisnet/temis.api/obj/
temisnet/temis.core/obj/
temisnet/temis.core/bin/
temisnet/temis.data/obj/
temisnet/temis.data/bin/
temisnet/temis.unitTest/obj/
temisnet/temis.unitTest/bin/
temisnet/temis.unitTest/TestResults/
temisnet/temis.unitTest/coverage.cobertura.xml
temisnet/temis.unitTest/coverage.json
temisnet/temis.unitTest/coverage_report
temisnet/temis.unitTest/coverage.opencover.xml